* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.body {
    margin: 0;
    background: white;
}

.dropdown button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    margin-left: 24em;
    margin-top: 4em;
    background-color: white;
    padding: .75em;
    border-radius: .25em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu a{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} 

.search {
    background: none;
    border: none;
    border-bottom: 1px #000 solid;
    color: #000;
    font-size: 1em;
    position: relative;
    z-index: 2;
    outline: 0;
}

.search:focus {
    border: 1px solid #000000;
}

.location-container {
    position: absolute;
    top: 4em;
    left: 0em;
    display: flex;
    flex-direction: row;
}

.location-icon, .dropdown-arrow {
    display: flex;
    height: auto;
}
  
.location-icon > img { 
    width: 60px;
    height: 60px;
    align-self: center;
    margin-left: 1em;
}

.dropdown-button > img {
    margin-top: 1em;
    margin-left: 1em;
    width: 60px;
    height: 60px;
    align-self: center;
}

.location {
    font-size: 4em;
    font-weight: bold;
}

.weather-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.weather-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-desc {
    font-size: 5em;
    margin-left: 4em;
    margin-top: -3.5em;
}

.weather-icon {
    width: 20em;
}

.temp-value {
    font-size: 5em;
    font-weight: bolder;
    margin-top: -0.5em;
    margin-left: 4em;
}

.temp-details {
    margin-top: -2.5em;
}

.temp-value img {
    width: 1.5em;
    margin-left: -0.5em;
    margin-top: 0.28em;
}

.humidity {
    margin-left: -0.8em;
}

.humidity-icon img {
    width: 3.5em;
    height: 3.5em;
    margin-left: 19em;
}

.wind-icon img {
    width: 3em;
    margin-left: 1em;
}

.forecast-container {
    position: absolute;
    margin: 5em;
    top: 50%;
    left: 0;
    bottom: 20%;
}

.forecast {
    display: flex;
    flex-wrap: nowrap;
}

.fc-weather-icon img {
    width: 4em;
    margin: -4em;
}

.fc-temp-value img {
    width: 1.5em;
    margin-left: -0.5em;
    margin-top: 3em;
}

.fc-temp-value {
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: -0.5em;
    margin-left: -1.9em;
}

.fc-day {
    text-align: center;
}

#locationList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#locationList li a {
    margin-top: 5px;
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black;
    display: block;
  }

  #locationList li a:hover:not(.header) {
    background-color: #eee; 
  }
